@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline:opsz,wght@10..72,100..900&display=swap');

.about-img {
    height:600px;
    margin-top:-20px;
    margin-left:350px;
    margin-bottom:-100px;
    display:block;
}
.mentor-img {
    height:550px;
    width:550px;
    margin-top:5px;
    border-radius:50%;
    display:inline-block;
    margin-left:400px;
}

.card {
    height:500px;
    background-color:#e53170;
    width:300px;
    display:inline-block;

}
.studio-img {
    height:50%;
    width:100%;
    
}
.card-1 {
    height:500px;
    background-color:#e53170;;
    width:300px;
    display:inline-block;
    margin-left:80px;

}
.header {
   text-align:center;
    margin-top:50px;
    font-family: "Big Shoulders Inline", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline:opsz,wght@10..72,100..900&display=swap');
