.navbar {
    border-bottom:solid 2px black;
    background-color:#e53170;
    padding:10px 20px 0px 20px;
    
    
}


.nav-menu {
    text-decoration:none;
    margin:10px 10px;
    padding:20px 10px;
    color: white;
    
    
}

.nav-menu-selected {
    border-bottom:4px solid white;
    font-weight: bold;
}
.logo {
    height:40px;
}